.microcircuit_svg__st2 {
  fill: none;
}

.microcircuit_svg__st3 {
  enable-background: new;
}

.microcircuit_svg__st4 {
  fill: #fff;
}

.microcircuit_svg__st5 {
  fill: none;
  stroke: #fff;
  stroke-width: 2.1491;
  stroke-miterlimit: 10;
}

#microcircuit_svg__layers.enabled path {
  cursor: pointer;
  fill: #303354;
  transition: fill 0.1s ease-in-out;
}
