#basePalette() {
  white: #ffffff;
  grey: #e5e9f4;
  navy-1: #3b4165;
  navy-2: #303354;
  navy-3: #16153d;
  navy-4: #030328;
}
#coolPalette() {
  light-min-1: #4db8ff;
  light: #30a8fa;
  medium: #2555ba;
  dark-min-1: #1a1c99;
  dark: #161782;
}
#warmPalette() {
  light-min-1: #fcc292;
  light: #fca66f;
  medium: #f27e67;
  dark-min-1: #db1662;
  dark: #c30048;
}
