@font-face {
  font-family: 'SuisseIntl';
  font-weight: 300;
  src: url('../../fonts/SuisseIntl-Light.ttf');
}
@font-face {
  font-family: 'SuisseIntl';
  font-weight: 400;
  src: url('../../fonts/SuisseIntl-Regular.otf');
}
@font-face {
  font-family: 'SuisseIntl';
  font-weight: 700;
  src: url('../../fonts/SuisseIntl-SemiBold.otf');
}