
@import '../../styles/config/_queries';

.container {
    position: sticky;
    bottom: 100px;
    margin-top: auto;
    padding-bottom: 1rem;
}

.flexWrapper {
    display: flex;
    height: 100%;
}

@media (max-width: $ant-breakpoint-md) {
    .container {
        margin: 0 auto;
    }
}