
.container {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #050a1e;
  font-size: 1.1em;
  line-height: 48px;
  border: 1px solid white;
  border-radius: 48px;
  overflow: hidden;
  color: #dddddd;

  &:global(.btn-small) {
    font-size: 0.8rem;
    line-height: 36px;
    border-radius: 36px;
  }
}

.container:hover {
  color: white;
}

.text {
  display: inline-block;
  padding: 0 7rem 0 2rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

:global(.btn-small) .text {
  padding: 0 5rem 0 2rem;
}

.container:global(.yellow) {
  border-color: #ffc500;
}

.container:global(.grey) {
  border-color: #b2b3b3;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  text-align: center;
  height: 48px;
  line-height: 48px;
}

:global(.btn-small) .arrow {
  height: 36px;
  line-height: 36px;
  width: 3rem;
}

.arrow svg {
  vertical-align: middle;
}

:global(.yellow) .arrow {
  background-color: #39321c;
}

:global(.grey) .arrow {
  background-color: #202537;
}
