@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';

.scroll-to__basis {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: #fontSize[large];
  background-color: #basePalette[navy-2];
  color: #basePalette[white];
  text-decoration: none;
  text-align: center;
  padding: 15px;
  &:hover {
    background-color: #basePalette[navy-1];
  }

  &.yellow {
    background-color: #accentPalette[yellow];
  }
  &.blue {
    background-color: #accentPalette[blue];
  }
  &.lavender {
    background-color: #accentPalette[lavender];
  }
  &.green {
    background-color: #accentPalette[green];
  }
  &.grey {
    background-color: #accentPalette[grey];
  }
}

.scroll-to__direction {
  display: block;
  font-size: 2rem;
  height: 1.5rem;
  margin-top: -0.25rem;
}
