@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';

@height: 40px;
@borderWidth: 2px;

.button__colors-active {
  color: #coolPalette[dark];
  background-color: #basePalette[white];
}

.button__base {
  .font-default();
  font-weight: 400;
  text-transform: uppercase;
  color: #basePalette[white];
  background-color: transparent;
  height: @height;
  border-radius: @height;
  line-height: @height;
  border: @borderWidth solid #basePalette[white];
  padding: 0 15px;
  box-shadow: 4px 1px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  position: relative;
  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
  &:active {
    .button__colors-active();
  }
}

.button__active {
  .button__base();
  .button__colors-active();
}

.button__primary {
  .button__base();
  border: none;
  line-height: @height + (2 * @borderWidth);
  &:active {
    color: inherit;
  }
}

.button__warm {
  .button__primary();
  background: #warmPalette[dark];
  background: linear-gradient(90deg, #warmPalette[dark], #warmPalette[light]);
  &:active {
    background: linear-gradient(
      90deg,
      #warmPalette[dark-min-1],
      #warmPalette[light-min-1]
    );
  }
}

.button__cool {
  .button__primary();
  background: #coolPalette[dark];
  background: linear-gradient(90deg, #coolPalette[light], #coolPalette[dark]);
  &:active {
    background: linear-gradient(
      90deg,
      #coolPalette[light-min-1],
      #coolPalette[dark-min-1]
    );
  }
}

.button__notifications {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: #fontSize[small];
  height: 1rem;
  border-radius: 1rem;
  line-height: 1.2rem;
  padding: 0 0.3rem;
  .button__colors-active();
}
