@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';
@import '../../assets/styles/config/_queries';

.brand__basis {
  display: flex;
  align-items: baseline;

  .logo {
    width: 60px;
    padding-right: 12px;
    margin-right: 10px;
    position: relative;
    @media (max-width: $small) {
      padding-right: 10px;
    }
    img {
      vertical-align: initial;
    }
    box-sizing: content-box;
  }

  .logo:after {
    content: ' ';
    height: 20px;
    width: 2px;
    display: block;
    background: map-get($basePalette, "white");
    position: absolute;
    top: 0;
    right: -2px;
  }

  .project {
    display: flex;
    align-items: baseline;

    .bbp-name {
      @media (max-width: $x-small) {
        display: none;
      }
    }

    .name {
      font-weight: bold;
      padding-left: 12px;
      font-size: 1.5em;
      @media (max-width: $small) {
        padding-left: 10px;
      }
    }
  }
}
