/* #14a5fc */
#brain_regions_svg__Fill > g,
#brain_regions_svg__Fill > path {
  cursor: pointer;
}

#brain_regions_svg__Fill > path:hover,
#brain_regions_svg__Fill > g > path:hover {
  fill: #14a5fc;
  transition: fill 0.3s ease-in-out;
}

#brain_regions_svg__Fill > path.active,
#brain_regions_svg__Fill > g.active > path {
  fill: #14a5fc;
}
