.brain_regions_svg__st3 {
  fill: #050a30
}

.brain_regions_svg__st6, .brain_regions_svg__st7 {
  fill: none
}

.brain_regions_svg__st7 {
  stroke: #fff;
  stroke-width: 1.6667;
  stroke-miterlimit: 10
}

.brain_regions_svg__st8 {
  enable-background: new
}

.brain_regions_svg__st9 {
  fill: #fff
}

.brain_regions_svg__st10 {
  fill: #7ca4dc
}

#brain_regions_svg__Fill path {
  cursor: pointer;
  fill: #303354;
  transition: fill 0.1s ease-in-out;
}
