@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';

@maxHeight: 120px;
@width: 250px;
@padding: 10px 10px 10px 20px;

.list__basis {
  width: @width;
  padding: @padding;
  background-color: #basePalette[navy-1];
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;

  &.block {
    width: auto;
  }

  p {
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 0 5px;
    color: #basePalette[white];
  }

  .elements {
    margin: 8px 0;
    max-height: @maxHeight;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  &.yellow {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[yellow];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[yellow];
    }
  }

  &.blue {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[blue];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[blue];
    }
  }

  &.lavender {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[lavender];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[lavender];
    }
  }

  &.green {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[green];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[green];
    }
  }

  &.orange {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[orange];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[orange];
    }
  }

  &.grey {
    ::-webkit-scrollbar-thumb {
      background: #accentPalette[grey];
    }

    .list-element__basis:hover {
      background-color: #accentPalette[grey];
    }
  }
}

.list-element__basis {
  background-color: #basePalette[white];
  color: #basePalette[navy-1];
  margin: 8px 20px 8px 10px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 6px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: #basePalette[white];
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.selected {
    color: #basePalette[white];
    background-color: #basePalette[navy-3];
    cursor: initial;
    outline-style: none;

    .yellow & {
      background-color: #accentPalette[yellow];
    }
    .blue & {
      background-color: #accentPalette[blue];
    }
    .lavender & {
      background-color: #accentPalette[lavender];
    }
    .green & {
      background-color: #accentPalette[green];
    }
    .grey & {
      background-color: #accentPalette[grey];
    }
    .orange & {
      background-color: #accentPalette[orange];
    }
  }
}
