
.desktop {
  @media (max-width: 992px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 992px) {
    display: none;
  }
}

.container {
  padding: 100px 60px 80px;
  position: relative;
  box-sizing: border-box;
  background-color: #050a30;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/backgrounds/alt.svg');
  background-size: cover;

  @media (max-width: 992px) {
    padding: 60px 20px;
  }
}

.data {
  margin: 4rem auto 60px;
  max-width: 1080px;
  margin-bottom: calc(100px + 4rem);
}

.title {
  color: #7ab7fa;
  font-size: 1.4em;
}

.divider {
  height: 1px;
  background-color: #7ab7fa;
  margin-bottom: 1rem;
}

.infoM {
  border: 1px solid #7ab7fa;
  border-radius: 5px;
  overflow: hidden;
}

.infoHeadM {
  text-align: center;
  color: white;
  height: 2rem;
  line-height: 2rem;
  background-color: #7ab7fa;
}

.infoContentM {
  font-size: 0.8em;
  padding: 0.8rem;
  color: #7ab7fa;
}

.infoImgM {
  background-color: #2f3554;
}

.infoImgM > img {
  width: 100%;
}

.infoContainerD {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
  position: relative;
}

.infoContainerD .infoCellD {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.infoContainerD .infoCellD:first-child {
  padding-left: 0;
  padding-right: 0.8rem;
}

.infoContainerD .infoCellD:last-child {
  padding-left: 0.8rem;
  padding-right: 0;
}

.infoCellD {
  display: table-cell;
}

.infoHeadD {
  text-align: center;
  color: white;
  height: 2rem;
  line-height: 2rem;
  background-color: #7ab7fa;
  border-left: 1px solid #7ab7fa;
  border-right: 1px solid #7ab7fa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.infoContentD {
  height: 100%;
  font-size: 0.8em;
  padding: 0.8rem;
  color: #7ab7fa;
  border-left: 1px solid #7ab7fa;
  border-right: 1px solid #7ab7fa;
}

.infoImgD {
  border-left: 1px solid #7ab7fa;
  border-right: 1px solid #7ab7fa;
  border-bottom: 1px solid #7ab7fa;
  background-color: #2f3554;
}

.infoHeadD {
  text-align: center;
  color: white;
  height: 2rem;
  line-height: 2rem;
  background-color: #7ab7fa;
}
