
.container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 2rem 2rem 2rem;
  background-color: rgb(51,55,70);
  border-top: 1px solid #545a70;
  z-index: 10;

  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: white;
  }
}