.dygraph-label.dygraph-ylabel {
  top: -36px;
  text-align: center;
  display: block;
  position: relative;
  transform: rotate(-90deg);
}
.graph-viewer {
  margin-bottom: 1em;
}
.graph-viewer h2 {
  color: white;
}
.graph-viewer > .wrapper > .graph {
  width: 100%;
  height: 100%;
}
.graph-viewer > .wrapper {
  padding: 1em;
  height: 250px;
  width: 100%;
}
