
.layer-thickness__basis {
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 1rem;
  }

  td.nowrap {
    max-width:100%;
    white-space:nowrap;
  }

  .image-cell {
    padding-right: 0;
    padding-bottom: 0;
  }

  .image-container {
    max-width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
}