.combo-selector__basis {
  display: flex;

  .selector__basis {
    text-align: center;
    padding-top: 0;
    min-width: 420px;
    height: 530px;
  }

  p.combo-boxes-header {
    font-weight: 700;
    top: 80px;
    left: 300px;
    white-space: nowrap;
  }

  .list-1,
  .list-2 {
    left: 279px;
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.4s;

    &.open {
      padding: 5px;
      max-width: 400px;
    }
  }

  .list-1 {
    &.open {
      padding-left: 20px;
    }
  }

  .list-2 {
    margin-top: 10px;

    &.open {
      padding-left: 40px;
    }
  }
}
