@import 'antd/lib/style/index.css';
@import 'flexboxgrid';


@import 'antd/lib/button/style/index.css';
@import 'antd/lib/select/style/index.css';
@import 'antd/lib/radio/style/index.css';
@import 'antd/lib/checkbox/style/index.css';
@import 'antd/lib/table/style/index.css';
@import 'antd/lib/grid/style/index.css';
@import 'antd/lib/collapse/style/index.css';
@import 'antd/lib/popover/style/index.css';
@import 'antd/lib/tabs/style/index.css';
@import 'antd/lib/input/style/index.css';
@import 'antd/lib/form/style/index.css';
@import 'antd/lib/pagination/style/index.css';

// @import 'antd/lib/typography/style/index.css';


@import 'config/_colors';
@import 'config/_fonts';
@import 'config/_queries';


// colors
// TODO: refactor to have all the colors here
:root {
  --color-yellow: #ffc807;
  --color-light-blue: #84bbf8;
  --color-blue: #657be1;
  --color-lavender: #657be1;
  --color-green: #33b080;
  --color-grey: #b2b3b3;
  --color-orange: #ed8048;

  --color-yellow-darker: #efb90a;
  --color-light-blue-darker: #78acdd;
  --color-blue-darker: #5f75c9;
  --color-green-darker: #329b70;
  --color-grey-darker: #a0a0a0;
}

.set-accent-color--yellow {
  --accent-color: var(--color-yellow);
}
.set-accent-color--blue {
  --accent-color: var(--color-blue);
}
.set-accent-color--lavender {
  --accent-color: var(--color-lavender);
}
.set-accent-color--green {
  --accent-color: var(--color-green);
}
.set-accent-color--grey {
  --accent-color: var(--color-grey);
}
.set-accent-color--orange {
  --accent-color: var(--color-orange);
}

.set-secondary-accent-color--yellow {
  --secondary-accent-color: var(--color-yellow);
}
.set-secondary-accent-color--blue {
  --secondary-accent-color: var(--color-blue);
}
.set-secondary-accent-color--lavender {
  --secondary-accent-color: var(--color-lavender);
}
.set-secondary-accent-color--green {
  --secondary-accent-color: var(--color-green);
}
.set-secondary-accent-color--grey {
  --secondary-accent-color: var(--color-grey);
}
.set-secondary-accent-color--orange {
  --secondary-accent-color: var(--color-orange);
}


html, body {
  @include font-default;
  color: map-get($basePalette, "white");
  background-color: map-get($basePalette, "navy-4");
  scroll-behavior: smooth;
  width: auto;
  height: auto;
  min-height: 100vh;
}

button,
a {
  cursor: pointer;
}

p {
  font-weight: 300;
}

section {
  padding: 40px 0;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mr-3 {
  margin-right: 2rem;
}

.ml-3 {
  margin-left: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 4rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-read {
  color: #f4364c;
}

.text-grey {
  color: var(--color-grey);
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.text-subtitle {
  font-size: 1.2rem;
}

.text-yellow {
  color: var(--color-yellow);
}

.bg-white {
  background-color: white;
}

.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


.ant-table-thead > tr > th {
  font-weight: bold;
}







// BrainSubregionFactsheet
.factsheet__basis {
  font-size: 1rem;

  .pos-relative {
    position: relative;
  }

  .bar {
    height: 100%;
    background-color: rgba(130, 130, 130, 0.23);
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    text-align: right;

    &.na {
      color: red;
    }
  }
}










// Button
.button__basis {
  $height: 40px;
  $heightSmall: 30px;
  $borderWidth: 2px;

  font-weight: 700;
  background-color: map-get($basePalette, "navy-4");
  height: $height;
  border-radius: $height;
  line-height: $height;
  border: $borderWidth solid map-get($basePalette, "white");
  padding: 0 15px;
  transition: all 0.2s;
  position: relative;
  color: white;

  @media (max-width: $small) {
    border-width: 1px;
    height: $heightSmall;
    border-radius: $heightSmall;
    line-height: $heightSmall;
  }

  &:hover {
    box-shadow: none;
    background-color: map-get($basePalette, "navy-3");
  }

  &.large {
    font-size: 1.5rem;
    @media (max-width: $small) {
      border-width: $borderWidth;
      height: $height;
      border-radius: $height;
      line-height: $height;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

  .active &,
  &:active,
  &.active {
    background-color: map-get($basePalette, "white");
    color: map-get($basePalette, "navy-4");
  }

  &.discrete {
    border: none;
    box-shadow: none;
    opacity: 0.7;

    .active &,
    &:active,
    &:hover,
    &.active {
      opacity: 1;
      color: map-get($basePalette, "white");
      background-color: map-get($basePalette, "navy-4");
    }
  }

  &.primary {
    border: none;
    line-height: $height + (2 * $borderWidth);
    background: map-get($basePalette, "yellow-2");
    background: linear-gradient(
      90deg,
      map-get($basePalette, "yellow-1"),
      map-get($basePalette, "yellow-2")
    );

    .active &,
    &:active,
    &:hover,
    &.active {
      color: map-get($basePalette, "white");
    }
  }
}

.button__basis .notifications {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: map-get($fontSize, "small");
  height: 1rem;
  border-radius: 1rem;
  line-height: 1.2rem;
  padding: 0 0.3rem;
  background-color: map-get($basePalette, "white");
  color: map-get($basePalette, "navy-4");
}













// Collapsible

$collapsible-padding: 2rem;

@mixin collapsible__basis {
  border-radius: 3px;
  overflow: hidden;
  .header {
    background-color: map-get($basePalette, "navy-2");
    font-size: map-get($fontSize, "large");
    font-weight: 400;
    padding: $collapsible-padding;
    &:hover {
      cursor: pointer;
      background-color: map-get($basePalette, "navy-1");
    }
  }
  .arrow {
    float: right;
    margin-top: 0.25rem;
    transition: all 0.5s;
  }
  .content {
    background-color: map-get($basePalette, "white");
    color: map-get($basePalette, "navy-4");
    padding: $collapsible-padding;
    overflow: hidden;
  }

  &.red {
    .header {
      background-color: red;
      color: white;
    }
  }
}

.collapsible__expanded {
  @include collapsible__basis;
  .content {
    max-height: 20000px;
    transition: max-height 1s, padding 0.3s;
  }
}

.collapsible__collapsed {
  @include collapsible__basis;
  .arrow {
    transform: rotate(180deg);
    margin-top: -0.25rem;
  }
  .content {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.3s, padding 0.3s 0.2s;
  }
}

.dark-collapsible .header {
    background-color: #83b9f6;
}

.dark-collapsible .content {
  background-color: #34385a;
  color: white;
}











// DataContainer
.data-container__basis {
  background-color: map-get($basePalette, "grey");
  min-height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 4rem 0 6rem 0;

  .center {
    background-color: map-get($basePalette, "grey");
    margin: 0 auto;
    max-width: 1080px;
    margin-bottom: 4rem;
  }

  .scroll-to {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
}















// ETypeFactsheet
.factsheet__basis {
  font-size: 1rem;

  .row {
    border-bottom: 1px solid #eaeaea;
  }

  .pos-relative {
    position: relative;
  }

  .bar {
    height: 100%;
    background-color: rgba(130, 130, 130, 0.23);
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    text-align: right;

    &.na {
      color: red;
    }
  }
}

















// Factsheet
.factsheet__basis {
  font-size: 1rem;

  .row {
    border-bottom: 1px solid #eaeaea;
  }

  .pos-relative {
    position: relative;
  }

  .bar {
    height: 100%;
    background-color: rgba(130, 130, 130, 0.23);
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    text-align: right;

    &.na {
      color: red;
    }
  }
}
















// Home / InfoBox1
.info-box-1__basis {
  padding: 1.5rem 1.5rem 1rem;
  background-color: map-get($basePalette, "white");
  border-radius: 2px;
  transition: all 0.2s;
  position: relative;
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 520px;

  img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
    left: -25px;
  }

  h3 {
    margin: 0;
    color: map-get($basePalette, "navy-4");
  }
  p,
  span {
    margin-top: 0.5rem;
    line-height: 1.7;
    color: map-get($basePalette, "navy-0");
  }
  span {
    font-size: map-get($fontSize, "small");
    cursor: pointer;
    svg {
      height: 5px;
      width: 5px;
      padding-bottom: 1px;
    }
  }
  .more {
    transition: all 0.2s;
    max-height: 0;
    overflow: hidden;
    &.open {
      max-height: 500px;
    }
  }
  .more p {
    font-size: map-get($fontSize, "small");
    opacity: 0.5;
  }

  @media (max-width: $small) {
    max-width: none;
  }
}


















// Home / InfoBox2
.info-box-2__basis {
  margin-bottom: 7px;
  position: relative;
  max-width: 580px;

  .caret-2 {
    z-index: 1;
    position: absolute;
    font-size: 40px;
    line-height: 0;
    bottom: -30px;
    left: 30px;
    color: map-get($basePalette, "navy-4");
  }

  &.yellow .dataset {
    background-color: map-get($accentPalette, "yellow");
  }

  &.blue .dataset {
    background-color: map-get($accentPalette, "blue");
  }

  &.lavender .dataset {
    background-color: map-get($accentPalette, "lavender");
  }

  &.green .dataset {
    background-color: map-get($accentPalette, "green");
  }

  &.grey .dataset {
    background-color: map-get($accentPalette, "grey");
  }

  .dataset-container {
    display: flex;
  }

  .dataset {
    flex: 3 1 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 1.5rem 0.3rem;
    text-align: center;
    position: relative;
    min-height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .caret-1,
  .caret-3 {
    z-index: 2;
    position: absolute;
    font-size: 40px;
    bottom: -35px;
    left: 30px;
  }

  &.yellow .caret-1 {
    color: map-get($accentPalette, "yellow");
  }

  &.blue .caret-1 {
    color: map-get($accentPalette, "blue");
  }

  &.lavender .caret-1 {
    color: map-get($accentPalette, "lavender");
  }

  &.green .caret-1 {
    color: map-get($accentPalette, "green");
  }

  &.grey .caret-1 {
    color: map-get($accentPalette, "grey");
  }

  .caret-3 {
    color: map-get($basePalette, "white");
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
  }

  li {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    background-color: map-get($basePalette, "navy-1");
    margin-top: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 29px;

    a {
      width: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    img {
      width: 1rem;
      height: auto;
      margin: 0 7px 0 5px;
    }
  }

  h3 {
    text-transform: uppercase;
    padding: 1rem 0 0.3rem;
    margin: auto 0;
  }

  p,
  span {
    margin-top: 0.5rem;
    line-height: 1.7;
  }

  span {
    font-size: map-get($fontSize, "small");
    cursor: pointer;

    svg {
      height: 5px;
      width: 5px;
      display: block;
      margin: -2px auto 0;
    }
  }

  .more {
    color: map-get($basePalette, "navy-4");
    transition: all 0.2s;
    max-height: 0;
    overflow: hidden;
    display: flex;
  }

  .more p {
    font-size: map-get($fontSize, "small");
  }

  .more-content {
    background-color: map-get($basePalette, "white");
    border-bottom-left-radius: 5px;
    padding: 1.5rem;
    flex: 3 1 0;
    position: relative;
  }

  .more-shadow {
    flex: 2 1 0;
  }

  &.open {
    .more {
      max-height: 500px;
    }

    .dataset {
      border-bottom-left-radius: 0;
    }

    .caret-3 {
      display: block;
    }
  }
}
















// ImageViewer
.image-viewer__basis {
  position: relative;

  img {
    width: 100%;
    cursor: pointer;
  }
}












// LayerAnatomySummary
.layer-anatomy-summary__basis {
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5rem 1rem;
  }
}











// LayerThickness
.layer-thickness__basis {
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 1rem;
  }

  td.nowrap {
    max-width:100%;
    white-space:nowrap;
  }

  .image-cell {
    padding-right: 0;
    padding-bottom: 0;
  }

  .image-container {
    max-width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
}















// List
.list__basis {
  $height: 148px;
  $width: 250px;
  $padding: 10px 10px 10px 20px;

  width: $width;
  padding: $padding;
  background-color: #050a30;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;

  &.block {
    width: auto;
  }

  p {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0;
    color: map-get($basePalette, "white");
  }

  .elements {
    margin: 8px 0;
    height: $height;
    overflow-y: scroll;
    position: relative;
  }

  ::-webkit-scrollbar-track {
    width: 10px;
    background-color: #f1f1f1;;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid white;
    background-clip: content-box;
  }

  &.yellow {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "yellow");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "yellow"), 50%);
    }
  }

  &.blue {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "blue");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "blue"), 50%);
    }
  }

  &.lavender {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "lavender");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "lavender"), 50%);
    }
  }

  &.green {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "green");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "green"), 50%);
    }
  }

  &.orange {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "orange");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "orange"), 50%);
    }
  }

  &.grey {
    ::-webkit-scrollbar-thumb {
      background: map-get($accentPalette, "grey");
    }
    ::-webkit-scrollbar-thumb:hover {
      background: lighten(map-get($accentPalette, "yellow"), 10%);
    }

    .list-element__basis:hover {
      background-color: rgba(map-get($accentPalette, "grey"), 50%);
    }
  }
}

.list-element__basis {
  border: 1px solid white;
  color: white;
  margin: 8px 20px 8px 10px;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 2px 0.5rem;
  // font-weight: 700;
  cursor: pointer;
  &:hover {
    color: map-get($basePalette, "white");
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.selected {
    color: map-get($basePalette, "white");
    background-color: map-get($basePalette, "navy-3");
    cursor: initial;
    outline-style: none;
    font-weight: bold;

    .yellow & {
      // TODO: refactor states
      background-color: map-get($accentPalette, "yellow") !important;
    }
    .blue & {
      background-color: map-get($accentPalette, "blue") !important;
    }
    .lavender & {
      background-color: map-get($accentPalette, "lavender") !important;
    }
    .green & {
      background-color: map-get($accentPalette, "green") !important;
    }
    .grey & {
      background-color: map-get($accentPalette, "grey") !important;
    }
    .orange & {
      background-color: map-get($accentPalette, "orange") !important;
    }
  }
}












// NeuralDensity
.neural-density__basis {
  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5rem;
    padding-left: 1rem;
  }
}













// NexusImage
.nexus-image__basis {
  .nexus-image-container {
    height: 100%;
    width: 100%;
    background-color: white;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .nexus-image-container img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }

  .nexus-image {
    display: inline-block;
  }
}














// Pills
.pills__basis {
  p {
    // font-weight: 700;
    margin: 0;
  }
  .elements {
    margin-top: 8px;
    // max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.pill__basis {
  display: inline-block;
  color: map-get($basePalette, "white");
  border: 1px solid map-get($basePalette, "white");
  background-color: map-get($basePalette, "navy-4");
  margin: 0.5rem;
  border-radius: 7px;
  text-align: center;
  padding: 2px 1rem;
  font-weight: 400;
  width: 5rem;
  cursor: pointer;
  &.pill__selected {
    .yellow & {
      background-color: map-get($accentPalette, "yellow");
      border-color: map-get($accentPalette, "yellow");
      color: #fff;
    }
    .blue & {
      background-color: map-get($accentPalette, "blue");
      border-color:map-get($accentPalette, "blue");
      color: #fff;
    }
    .lavender & {
      background-color: map-get($accentPalette, "lavender");
      border-color: map-get($accentPalette, "lavender");
      color: #fff;
    }
    .green & {
      background-color: map-get($accentPalette, "green");
      border-color: map-get($accentPalette, "green");
      color: #fff;
    }
    .grey & {
      background-color: map-get($accentPalette, "grey");
      border-color: map-get($accentPalette, "grey");
      color: #fff;
    }
  }
  &:hover:not(.pill__selected) {
    background-color: map-get($basePalette, "navy-1");
    color: map-get($basePalette, "white");
  }
}

.pill__selected {
  font-weight: 700;
  background-color: map-get($basePalette, "white");
  color: map-get($basePalette, "navy-4");
  cursor: initial;
}
















@keyframes arrow-down {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 4px, 0);
  }
  50.001% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


// ScrollTo
.scroll-to__basis {
  display: block;
  font-weight: 400;
  font-size: map-get($fontSize, "large");
  background-color: map-get($basePalette, "navy-2");
  color: map-get($basePalette, "white");
  text-decoration: none;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: map-get($basePalette, "navy-1");
  }

  &.animated svg {
    animation: arrow-down 1s infinite;
    animation-timing-function: ease-out;
  }

  &.yellow {
    background-color: map-get($accentPalette, "yellow");
  }
  &.blue {
    background-color: map-get($accentPalette, "blue");
  }
  &.lavender {
    background-color: map-get($accentPalette, "lavender");
  }
  &.green {
    background-color: map-get($accentPalette, "green");
  }
  &.grey {
    background-color: map-get($accentPalette, "grey");
  }
}

.scroll-to__direction {
  display: block;
  font-size: 2rem;
  height: 1.5rem;
  margin-top: -0.25rem;
}
















// ScrollTop
.scroll-top__base {
  $size: 6rem;

  display: inline-block;
  background-color: map-get($basePalette, "navy-2");
  color: map-get($basePalette, "white");
  text-decoration: none;
  text-align: center;
  border-radius: $size;
  width: $size;
  height: $size;
  font-size: (2 / 3) * $size;
  & svg {
    padding-top: 0.75rem;
  }
  &:hover {
    background-color: map-get($basePalette, "navy-1");
  }
}












// Title
.title__basis {
  margin-bottom: 60px;
  max-width: 100%;
  overflow: hidden;

  &.yellow {
    & h2 {
      border-color: map-get($accentPalette, "yellow");
    }

    & h4 {
      color: map-get($accentPalette, "yellow");
    }
  }

  &.blue {
    & h2 {
      border-color: map-get($accentPalette, "blue");
    }

    & h4 {
      color: map-get($accentPalette, "blue");
    }
  }

  &.lavender {
    & h2 {
      border-color: map-get($accentPalette, "lavender");
    }

    & h4 {
      color: map-get($accentPalette, "lavender");
    }
  }

  &.green {
    & h2 {
      border-color: map-get($accentPalette, "green");
    }

    & h4 {
      color: map-get($accentPalette, "green");
    }
  }

  &.grey {
    & h2 {
      border-color: map-get($accentPalette, "grey");
    }

    & h4 {
      color: map-get($accentPalette, "grey");
    }
  }

  h2 {
    text-transform: uppercase;
    line-height: 1;
    margin: 10px 0;
    padding-left: 12px;
    border-left: 4px solid;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }

  &.primary {
    margin-bottom: 20px;

    h2 {
      text-transform: none;
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }

    h2,
    h4 {
      @media (max-width: $small) {
        text-align: center;
      }
    }

    .hint {
      border-left: 4px solid map-get($accentPalette, "yellow");
      margin: 2rem 1rem 1rem 0;
      padding-left: 12px;
      @media (max-width: $small) {
        margin-left: 1rem;
      }
    }
  }
}

















// layout / Brand
.brand__basis {
  .logo,
  h1 {
    display: inline-block;
  }

  .logo {
    width: 60px;
    padding-right: 12px;
    position: relative;
    @media (max-width: $small) {
      width: 42px;
      padding-right: 10px;
    }
    img {
      vertical-align: initial;
    }
    box-sizing: content-box;
  }

  .logo:after {
    content: ' ';
    height: 20px;
    width: 2px;
    display: block;
    background: map-get($basePalette, "white");
    position: absolute;
    top: 0;
    right: -2px;
    @media (max-width: $small) {
      height: 1rem;
    }
  }

  h1 {
    font-weight: 400;
    padding-left: 12px;
    @media (max-width: $small) {
      padding-left: 10px;
    }
  }
}










.scroll-to {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}














// layout / FullPage
.full-page__basis {
  padding: 160px 60px;
  min-height: 100vh;
  background-color: map-get($basePalette, "navy-4");
  @media (max-width: $small) {
    padding: 90px 30px 60px;
  }
}




















// layout / Navigation
.nav__basis {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  z-index: 10;
  @media (max-width: $small) {
    justify-content: center;
    top: 5px;
  }

  .home-nav,
  .secondary-nav {
    &,
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    a,
    button {
      background: none;
      outline: none;
      border: none;
      display: inline-block;
      color: map-get($basePalette, "navy-1");
      font-size: map-get($fontSize, "medium");
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: map-get($basePalette, "navy-3");
      }
    }
  }

  .secondary-nav {
    li > span {
      display: inline-block;
      height: 100%;
      width: 20px;
      margin: 0;
      flex-shrink: 0;
    }

    li > ul > li svg {
      width: 25px;
      flex: 0 0 auto;
      margin-right: 7px;
      @media (min-width: $large) {
        width: 30px;
      }
    }

    li > ul > li a {
      display: flex;
      align-items: center;
      white-space: initial;
      line-height: initial;
    }
  }

  .show-mobile {
    display: none;

    @media (max-width: $small) {
      display: inline;
    }
  }
}











// layout / NavMobile
.nav-mobile__basis {
  display: none;
  position: fixed;
  top: 7px;
  right: 7px;
  font-size: 1.5rem;
  height: calc(2px + 1.5rem);
  padding: 0 0.5rem;
  cursor: pointer;
  z-index: 1;
  background: map-get($basePalette, "navy-4");
  border-radius: 1.5rem;
  border: 1px solid map-get($basePalette, "navy-2");
  box-shadow: 0 0 4px 0 rgba(59, 65, 101, 0.6);
  @media (max-width: $small) {
    display: flex;
  }
}

.nav-mobile__menu {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 2;
  margin: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: map-get($basePalette, "navy-4");

  &.open {
    right: 0;
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: map-get($basePalette, "white");
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  a,
  button {
    white-space: nowrap;
    line-height: 45px;
    text-align: left;
    text-decoration: none;
  }

  .top-links {
    height: 120px;
    display: flex;
    padding: 10px 40px;
    box-sizing: border-box;

    a {
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      line-height: 30px;
    }

    img {
      width: 45px;
    }
  }

  .menu-search {
    height: 120px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 40px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .secondary-nav {
    position: absolute;
    top: 120px;
    bottom: 120px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: map-get($basePalette, "white");

    a,
    button {
      text-transform: uppercase;
    }

    button {
      width: calc(100% - 20px);
      font-size: map-get($fontSize, "large");
      box-shadow: 0 6px 10px -10px rgba(59, 65, 101, 0.6);
      height: 75px;
      padding-left: 40px;
    }

    button svg {
      float: right;
      margin-right: 30px;
      font-size: 25px;
      line-height: 75px;
      margin-top: 8px;
      transition: all 0.7s;
    }

    li > span {
      height: 75px;
      float: left;
    }

    li {
      width: 100%;
      overflow: visible;
    }

    li > ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.7s;
      display: flex;
      width: 100%;
      background: map-get($basePalette, "white");
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
    }

    li.active button {
      color: map-get($basePalette, "navy-2");
    }

    li.active button svg {
      transform: rotate(180deg);
    }

    li.active > ul {
      max-height: 500px;
    }

    li > ul > li {
      box-shadow: none;
    }

    li > ul > li a {
      border-bottom: 1px solid map-get($basePalette, "grey-2");
      padding: 5px 20px 5px 30px;
    }

    li > ul > li svg {
      margin-right: 10px;
    }
  }
}

















// layout / NavDesktop
.nav-desktop__basis {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  @media (max-width: $small) {
    display: none;
  }

  li {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1280px) {
    li {
      margin-right: 18px;
      button {
        width: auto !important;
      }
    }
  }

  .flyout {
    position: absolute;
    left: 0;
    top: 60px;
    background: map-get($basePalette, "white");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 4px 4px 4px 0 rgba(59, 65, 101, 0.6);

    a,
    button {
      font-size: map-get($fontSize, "small");
      white-space: nowrap;
      line-height: 45px;
      flex-grow: 1;
      text-align: left;
    }
  }

  .home-nav {
    border-bottom: 1px solid map-get($basePalette, "grey-2");
    margin-right: 10px;
    padding: 5px 17px;
    display: flex;

    li {
      margin: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  .secondary-nav {
    width: 300px;

    button {
      border-bottom: 1px solid map-get($basePalette, "grey-2");
      color: map-get($basePalette, "grey-2");
      text-transform: none;
      padding-left: 20px;
      margin: 0 10px 0 20px;
    }

    li {
      height: 45px;
      display: flex;
      margin-right: 0;

      &:last-child {
        button {
          border-bottom: none;
        }
      }
    }

    li > ul {
      display: none;
    }

    li.active button {
      color: map-get($basePalette, "navy-2");
    }

    li.active > ul {
      display: flex;
      position: absolute;
      left: 300px;
      width: 200px;
      top: 0;
      bottom: 0;
      background: map-get($basePalette, "white");
      border-left-width: 10px;
      border-left-style: solid;
      padding: 20px;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (min-width: $large) {
        width: 300px;
      }
    }

    li > ul > li {
      margin: 5px 0;
    }
  }
}




















// pages / Home
.Home__basis {
  background-color: map-get($basePalette, "grey-1");

  section {
    padding: 30px 30px 60px;
    overflow: hidden;
  }

  .accent-border {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: map-get($accentPalette, "yellow");
  }

  .nowrap {
    white-space: nowrap;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $small) {
      flex-direction: column;
    }
  }

  .section-1 {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 0;
    background-color: #050a30;
    background-repeat: no-repeat;
    background-size: cover;

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      inset: 0;
      background: linear-gradient(90deg, rgba(5, 10, 30, 1) 0%, rgba(5, 10, 30, 0) 70%);

      @media (max-width: $small) {
        background: rgba(5, 10, 30, 0.4);
      }
    }

    .title {
      z-index: 9;
      flex: 1 1 0;
      width: 67%;
      margin-top: -120px;
      padding-left: 10%;

      h2 {
        font-size: 3.5rem;
      }

      h4 {
        font-size: 2rem;
      }

      p {
        max-width: 520px;
      }
    }

    .top-section-image {
      flex: 1 1 0;
      padding-top: 30px;
      width: 480px;
    }

    .social-media {
      width: 120px;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      padding-top: 14vw;
    }

    .social-media-icon {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background-color: map-get($basePalette, "navy-0");
      color: map-get($basePalette, "navy-4");
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    @media (max-width: $small) {
      height: auto;

      .title {
        flex: initial;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        h4 {
          font-size: 1.5rem;
        }
      }

      .cta {
        text-align: center;
        & a {
          display: block;
        }
        & button {
          margin-bottom: 1.5rem;
          margin-right: 0;
          font-size: 1.5rem;
          border-width: 2px;
          height: 40px;
          border-radius: 40px;
          line-height: 40px;
        }
      }

      img {
        flex: initial;
        width: initial;
        margin: 30px;
        padding-top: 0;
      }

      .social-media {
        display: none;
      }
    }

    @media (min-width: $large) {
      .title {
        h2 {
          font-size: 5.5rem;
        }

        h4 {
          font-size: 3.5rem;
        }
      }

      .social-media {
        padding-top: 15vw;
      }

      .social-media-icon {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 15px;
      }
    }
  }

  .section-about {
    background-color: #dbdbdb;
    color: black;

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .section-3 {
    background-color: map-get($basePalette, "navy-4");

    a {
      color: white;
    }

    .intro {
      text-align: center;
      margin-bottom: 2rem;

      p {
        color: map-get($accentPalette, "yellow");
        font-weight: 300;
        font-size: 120%;
      }
    }

    .cards {
      max-width: 1200px;
      margin: 0 auto;

      @media screen and (min-width: 1200px) {
        .ant-col {
          flex: 20% !important;
        }
      }
    }

    .workflow,
    .image {
      flex: 1 1 0;
    }

    .workflow {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 60px;
    }

    .image {
      height: 610px;
      align-self: flex-start;
      background-image: url('/sscx-portal/assets/images/flow.svg');
      background-position-x: 100px;
      background-position-y: top;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (max-width: $small) {
      .workflow,
      .image {
        flex: none;
      }

      .workflow {
        align-items: center;
      }

      .image {
        width: 100%;
        min-height: 542px;
        background-position-x: center;
      }
    }

    @media (min-width: $large) {
      .image {
        height: 725px;
        background-position-y: -5px;
      }
    }
  }

  .section-4 {
    padding-top: 60px;
    background-color: #35385b;
    min-height: 100vh;
    display: flex;
    align-items: center;

    h1 {
      color: white;
    }

    .content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}

















// pages / Glossary
.glossary__container {
  max-width: 1080px;
  margin: 0 auto;

  a, a:hover {
    color: white;
    text-decoration: underline;
  }

  .term {
    word-break: break-all;
  }
}




















// NeuronMorphology plugin, romove after Nexus integration
.morpho-viewer,
.morpho-viewer canvas {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.orientation {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 2;
}

.scale {
  position: absolute;
  height: 100%;
  width: 50px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
}


:root {
  --soma: #000;
  --axon: #1111ff;
  --basal-dendrites: #ff1111;
  --apical-dendrites: #f442ad;
}

.morpho-wrapper {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 400px;
  position: relative;
}

.zoom-control {
  margin-bottom: 10px;
  margin-right: 10px;
}

.zoom-input {
  margin-left: 10px;
}

.morpho-wrapper > .actions {
  position: relative;
  z-index: 2;
}



.morpho-legend {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  backdrop-filter: blur(1px);
}

.morpho-legend > ul {
  list-style: none;
  padding: none;
}

.morpho-legend > ul li::before {
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 0;
  font-size: 1.5em;
}

.morpho-legend > ul li.axon::before {
  color: var(--axon);
}
.morpho-legend > ul li.basal-dendrites::before {
  color: var(--basal-dendrites);
}
.morpho-legend > ul li.apical-dendrites::before {
  color: var(--apical-dendrites);
}
.morpho-legend > ul li.soma::before {
  color: var(--soma);
}
