@import 'config/_queries';

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width:90%;
  margin: 0 auto;
  @media (max-width: $ant-breakpoint-xl){
    max-width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-color);
}

.head {
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  padding: 0.4rem;
  font-size: 1.2rem;
}

.body {
  margin: auto 0;
  background-color: #050a30;
}

.centeredBodyContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topFrameComponent {
  background-color: rgb(49,50,84);
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  @media (max-width: 42rem) {
    padding: 1rem;
    margin: 0 0 1rem 0;
  }
}

.bottomFrameComponent {
  background-color: rgb(49, 50, 84);
  padding: 1rem;
  margin: 1rem 0px 1rem 1rem;
  @media (max-width: 42rem) {
    padding: 1rem;
    margin: 0;
  }
}
