@import '../../../assets/styles/config/_colors';
@import '../../../assets/styles/config/_fonts';
@import '../../../assets/styles/config/_queries';

.info-box-1__basis {
  padding: 1.5rem 1.5rem 1rem;
  background-color: map-get($basePalette, "white");
  border-radius: 2px;
  transition: all 0.2s;
  position: relative;
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 520px;

  img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
    left: -25px;
  }

  h3 {
    margin: 0;
    color: map-get($basePalette, "navy-4");
  }
  p,
  span {
    margin-top: 0.5rem;
    line-height: 1.7;
    color: map-get($basePalette, "navy-0");
  }
  span {
    font-size: map-get($fontSize, "small");
    cursor: pointer;
    svg {
      height: 5px;
      width: 5px;
      padding-bottom: 1px;
    }
  }
  .more {
    transition: all 0.2s;
    max-height: 0;
    overflow: hidden;
    &.open {
      max-height: 500px;
    }
  }
  .more p {
    font-size: map-get($fontSize, "small");
    opacity: 0.5;
  }

  @media (max-width: $small) {
    max-width: none;
  }
}
