@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';
@import '../../assets/styles/config/_queries';

.title__basis {
  margin-bottom: 60px;

  &.yellow {
    & h2 {
      border-color: #accentPalette[yellow];
    }
    & h4 {
      color: #accentPalette[yellow];
    }
  }
  &.blue {
    & h2 {
      border-color: #accentPalette[blue];
    }
    & h4 {
      color: #accentPalette[blue];
    }
  }
  &.lavender {
    & h2 {
      border-color: #accentPalette[lavender];
    }
    & h4 {
      color: #accentPalette[lavender];
    }
  }
  &.green {
    & h2 {
      border-color: #accentPalette[green];
    }
    & h4 {
      color: #accentPalette[green];
    }
  }
  &.grey {
    & h2 {
      border-color: #accentPalette[grey];
    }
    & h4 {
      color: #accentPalette[grey];
    }
  }

  h2 {
    line-height: 1;
    padding-left: 6px;
    margin: 10px 0;
    padding-left: 12px;
    border-left: 4px solid;
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
  }
}
