
.container {
  padding: 100px 60px 80px;
  min-height: 100vh;

  display: flex;
  align-items: center;
  background-color: #050a30;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/sscx-portal/assets/images/backgrounds/filter-section-bg.png');
  background-size: cover;

  @media (max-width: 48em) {
    padding: 80px 20px;
  }
}
