@import '../../assets/styles/config/_colors';
@import '../../assets/styles/config/_fonts';

.pills__basis {
  p {
    font-weight: 700;
    margin: 0;
  }
  .elements {
    margin-top: 8px;
    max-width: 600px;
  }
}

.pill__basis {
  display: inline-block;
  color: map-get($basePalette, "white");
  border: 2px solid map-get($basePalette, "white");
  background-color: map-get($basePalette, "navy-4");
  margin-right: 10px;
  border-radius: 7px;
  text-align: center;
  padding: 5px 20px;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 120px;
  cursor: pointer;
  &.pill__selected {
    .yellow & {
      background-color: map-get($accentPalette, "yellow");
      border: 2px solid map-get($accentPalette, "yellow");
      color: #fff;
    }
    .blue & {
      background-color: map-get($accentPalette, "blue");
      border: 2px solid map-get($accentPalette, "blue");
      color: #fff;
    }
    .lavender & {
      background-color: map-get($accentPalette, "lavender");
      border: 2px solid map-get($accentPalette, "lavender");
      color: #fff;
    }
    .green & {
      background-color: map-get($accentPalette, "green");
      border: 2px solid map-get($accentPalette, "green");
      color: #fff;
    }
    .grey & {
      background-color: map-get($accentPalette, "grey");
      border: 2px solid map-get($accentPalette, "grey");
      color: #fff;
    }
  }
  &:hover:not(.pill__selected) {
    background-color: map-get($basePalette, "navy-1");
    color: map-get($basePalette, "white");
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.pill__selected {
  font-weight: 700;
  background-color: map-get($basePalette, "white");
  color: map-get($basePalette, "navy-4");
  cursor: initial;
}
