@import '../assets/styles/config/_colors';
@import '../assets/styles/config/_fonts';
@import '../assets/styles/config/_queries';

.Home__basis {
  background-color: #basePalette[grey-1];

  section {
    padding: 30px 30px 60px;
    overflow: hidden;
  }

  .accent-border {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: #accentPalette[yellow];
  }

  .nowrap {
    white-space: nowrap;
  }

  #section-1 {
    display: flex;
    padding-top: 160px;
    padding-bottom: 0;
    background-image: url('../assets/images/backgrounds/homepage1.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media @small {
      flex-direction: column;
    }

    .title {
      width: 520px;
      margin-top: 90px;
      margin-left: 10%;

      h2 {
        font-size: 3.5rem;
      }

      h4 {
        font-size: 2rem;
      }

      @media @small {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        h4 {
          font-size: 1.5rem;
        }
      }
    }

    .cta {
      & a {
        margin-right: 15px;
      }

      @media @small {
        text-align: center;
        & a {
          display: block;
        }
        & button {
          margin-bottom: 1.5rem;
          margin-right: 0;
          font-size: 1.5rem;
          border-width: 2px;
          height: 40px;
          border-radius: 40px;
          line-height: 40px;
        }
      }
    }

    @media @small {
      padding-top: 90px;
    }

    img {
      width: 480px;
      margin: 30px 0 30px -90px;
      @media @small {
        width: initial;
        margin: 30px;
      }
    }
  }

  #section-2 {
    h2 {
      color: #basePalette[navy-3];
      text-align: center;

      @media @small {
        text-align: left;
      }
    }

    .content {
      display: flex;
      flex-direction: row-reverse;

      @media @small {
        flex-direction: column;
      }
    }

    .workflow {
      padding: 30px 0 60px;
    }

    #screenshot {
      width: 280px;
      margin-left: -30px;
    }
  }

  #section-3 {
    background-color: #basePalette[navy-4];

    .intro {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      h3 {
        color: #accentPalette[yellow];
        font-weight: 300;
        font-size: 120%;
      }

      p {
        opacity: 0.5;
      }
    }

    .workflow {
      margin-bottom: 60px;
    }

    #flow {
      margin: 20px;
    }
  }

  #section-4 {
    padding-top: 60px;
    background-color: #basePalette[navy-4];
    background-image: url('../assets/images/backgrounds/homepage2.svg');
    background-position-x: center;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-size: cover;

    .paper {
      h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 0;
      }

      h3 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        width: 67%;
        margin-top: 20px;
      }
    }

    .data-paper {
      .accent-border {
        margin: 0 60px 0 0;
      }
    }

    .portal-paper {
      display: flex;
      flex-direction: column;
      align-items: end;

      .accent-border {
        margin: 0 0 -15px 0;
      }

      p {
        text-align: right;
      }
    }

    #chip {
      width: 180px;
      margin: -120px 0 30px 190px;
    }
  }

  #section-5 {
    padding-top: 0;

    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      color: #basePalette[navy-4];
    }

    span {
      display: block;
      margin: 10px auto 0;
    }

    #acknowledgments {
      margin: 0 -45px;
    }
  }
}