@import '../assets/styles/config/_colors';
@import '../assets/styles/config/_fonts';
@import '../assets/styles/config/_queries';

.Home__basis {
  background-color: #basePalette[grey-1];

  section {
    padding: 30px 30px 60px;
    overflow: hidden;
  }

  .accent-border {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: #accentPalette[yellow];
  }

  .nowrap {
    white-space: nowrap;
  }

  #section-1 {
    padding-top: 160px;
    padding-bottom: 0;
    background-image: url('../assets/images/backgrounds/homepage1.svg');
    background-position-x: center;
    background-position-y: -15px;
    background-repeat: no-repeat;
    background-size: cover;

    .cta {
      text-align: center;

      & a {
        display: block;
        margin-bottom: 1.5rem;
      }
    }

    @media @small {
      padding-top: 90px;
    }

    .img {
      margin: 30px
    }
  }

  #section-2 {
    h2 {
      color: #basePalette[navy-3];
    }

    .workflow {
      padding: 30px 0 60px;
    }

    #screenshot {
      width: 280px;
      margin-left: -30px;
    }
  }

  #section-3 {
    background-color: #basePalette[navy-4];
    .intro {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      h3 {
        color: #accentPalette[yellow];
        font-weight: 300;
        font-size: 120%;
      }

      p {
        opacity: 0.5;
      }
    }

    .workflow {
      margin-bottom: 60px;
    }

    #flow {
      margin: 20px;
    }
  }

  #section-4 {
    padding-top: 60px;
    background-color: #basePalette[navy-4];
    background-image: url('../assets/images/backgrounds/homepage2.svg');
    background-position-x: center;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-size: cover;

    .paper {
      h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 0;
      }
      h3 {
        text-transform: uppercase;
        margin: 0;
      }
      p {
        width: 67%;
        margin-top: 20px;
      }
    }

    .data-paper {
      .accent-border {
        margin: 0 60px 0 0;
      }
    }

    .portal-paper {
      display: flex;
      flex-direction: column;
      align-items: end;
      .accent-border {
        margin: 0 0 -15px 0;
      }
      p {
        text-align: right;
      }
    }

    #chip {
      width: 180px;
      margin: -120px 0 30px 190px;
    }
  }
}