@import '../assets/styles/config/_colors';
@import '../assets/styles/config/_fonts';
@import '../assets/styles/config/_queries';

.Home__basis {
  background-color: #basePalette[grey-1];

  section {
    padding: 30px 30px 60px;
    overflow: hidden;
  }

  .accent-border {
    display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: #accentPalette[yellow];
  }

  .nowrap {
    white-space: nowrap;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media @small {
      flex-direction: column;
    }
  }

  .search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: -90px;

    @media @small {
      display: none;
    }

    @media @large {
      margin-top: -150px;
    }
  }

  #section-1 {
    min-height: 40vw;
    padding-top: 90px;
    padding-bottom: 0;
    background-image: url('../assets/images/backgrounds/homepage1.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      flex: 1 1 0;
      width: 67%;
      margin-top: -120px;
      padding-left: 10%;

      h2 {
        font-size: 3.5rem;
      }

      h4 {
        font-size: 2rem;
      }

      p {
        max-width: 520px;
      }
    }

    .cta {
      & a {
        margin-right: 15px;
      }
    }

    img {
      flex: 1 1 0;
      padding-top: 30px;
      width: 480px;
    }

    .social-media {
      width: 120px;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      padding-top: 14vw;
    }

    .social-media-icon {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      background-color: #basePalette[navy-0];
      color: #basePalette[navy-4];
      text-align: center;
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    @media @small {
      height: auto;

      .title {
        flex: initial;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        h4 {
          font-size: 1.5rem;
        }
      }

      .cta {
        text-align: center;
        & a {
          display: block;
        }
        & button {
          margin-bottom: 1.5rem;
          margin-right: 0;
          font-size: 1.5rem;
          border-width: 2px;
          height: 40px;
          border-radius: 40px;
          line-height: 40px;
        }
      }

      img {
        flex: initial;
        width: initial;
        margin: 30px;
        padding-top: 0;
      }

      .social-media {
        display: none;
      }
    }

    @media @large {
      .title {
        h2 {
          font-size: 5.5rem;
        }

        h4 {
          font-size: 3.5rem;
        }
      }

      .social-media {
        padding-top: 15vw;
      }

      .social-media-icon {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 15px;
      }
    }
  }

  #section-2 {
    h2 {
      color: #basePalette[navy-3];
      text-align: center;
    }

    .content {
      flex-direction: row-reverse;
    }

    .workflow,
    .image {
      flex: 1 1 0;
    }

    .image {
      text-align: right;
    }

    .workflow {
      padding: 30px 0 60px;
    }

    #screenshot {
      margin-left: -30px;
      margin-right: 240px;
      max-width: 100%;
    }

    @media @small {
      .content {
        flex-direction: column;
      }

      h2 {
        text-align: left;
      }

      .image {
        width: 100%;
        text-align: left;
      }

      #screenshot {
        width: 280px;
        margin-right: initial;
      }
    }
  }

  #section-3 {
    background-color: #basePalette[navy-4];

    .intro {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      h3 {
        color: #accentPalette[yellow];
        font-weight: 300;
        font-size: 120%;
      }

      p {
        opacity: 0.5;
      }
    }

    .workflow,
    .image {
      flex: 1 1 0;
    }

    .workflow {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 60px;
    }

    .image {
      height: 610px;
      align-self: flex-start;
      background-image: url('../assets/images/flow.svg');
      background-position-x: 100px;
      background-position-y: top;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media @small {
      .workflow,
      .image {
        flex: none;
      }

      .workflow {
        align-items: center;
      }

      .image {
        width: 100%;
        min-height: 542px;
        background-position-x: center;
      }
    }

    @media @large {
      .image {
        height: 725px;
        background-position-y: -5px;
      }
    }
  }

  #section-4 {
    padding-top: 60px;
    background-color: #basePalette[navy-4];
    background-image: url('../assets/images/backgrounds/homepage2.svg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 680px;

    .content {
      min-height: 680px;
    }

    .paper {
      flex: 2 1 0;
    }

    .paper {
      h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 0;
      }

      h3 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        margin-top: 20px;
      }
    }

    .data-paper-container {
      display: flex;
      align-self: flex-start;
      justify-content: flex-end;
    }

    .portal-paper-container {
      display: flex;
      align-self: flex-end;
      justify-content: start;
      padding-bottom: 20px;
    }

    .data-paper,
    .portal-paper {
      max-width: 320px;
    }

    .data-paper {
      .accent-border {
        margin: 0 60px 0 0;
      }
    }

    .portal-paper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .accent-border-lg {
        display: inline-block;
        margin: 12px 0 0 0;
      }

      .accent-border-sm {
        display: none;
      }

      p {
        text-align: right;
      }
    }

    #chip {
      width: 210px;
      margin: 60px;
    }

    @media @small {
      background-position-y: -120px;
      background-size: cover;

      p {
        width: 67%;
      }

      #chip {
        width: 180px;
        margin: -120px -65px 30px auto;
      }

      .portal-paper {
        .accent-border-lg {
          display: none;
        }

        .accent-border-sm {
          display: inline-block;
          margin: 0 0 -15px 0;
        }
      }
    }

    @media @large {
      #chip {
        width: 360px;
      }

      .data-paper,
      .portal-paper {
        max-width: 480px;
      }

      .portal-paper-container {
        padding-bottom: 150px;
      }
    }
  }

  #section-5 {
    padding-top: 0;
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
      color: #basePalette[navy-4];
    }

    span {
      display: block;
      margin: 10px auto 0;
    }

    #acknowledgments {
      max-width: 960px;
    }

    @media @small {
      #acknowledgments {
        margin: 0 -60px;
      }
    }
  }
}
