@import '../../styles/config/_queries';

.traceImageContainer {
  width: 200px;
  border: 1px solid #dedede;
  border-radius: 5px;
  @media (max-width: $ant-breakpoint-sm){
    width: unset;
  }
}

.detailsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 20px;
}

.highlightedRowBg {
  background-color: #fafafa;
}
