@import '../../styles/config/_colors';
@import '../../styles/config/_queries';


.responsiveTablOdd {
  @media (max-width: $ant-breakpoint-sm) {
    background-color: map-get($basePalette, "grey-1");
  }
}
.responsiveTablEven {
  background-color: map-get($basePalette, "white");
}

.highlightBackground {
  @media (min-width: $ant-breakpoint-sm) {
    background-color: #fafafa;
  }
}
