#layer_anatomy_svg__Fill > g {
  cursor: pointer;
}
#layer_anatomy_svg__Fill > g:hover > path {
  fill: #ffa86b;
  transition: fill 0.3s ease-in-out;
}
#layer_anatomy_svg__Fill > g.active > path {
  fill: #ffa86b;
}
#layer_anatomy_svg__Fill > g.active > text {
  fill: #fff;
}
