@import '../../assets/styles/config/_colors';

.layer-anatomy-svg {
  &__layer-background-top {
    fill: #050a30;
  }

  &__layer-background-left {
    fill: #52617d;
  }

  &__layer {
    cursor: pointer;

    &:hover {
      .layer-anatomy-svg__shape {
        fill: #accentPalette[blue];
        transition: fill 0.1s ease-in-out;
      }
    }
  }

  &__shape {
    fill: #303354;
    stroke: #fff;
    stroke-width: 1.6671;
    stroke-miterlimit: 10;

    &--active {
      fill: #accentPalette[blue];
      stroke: #fff;
      stroke-width: 1.6671;
      stroke-miterlimit: 10;
    }
  }

  &__name {
    fill: #fff;
  }

  &__outline {
    fill: none;
    stroke: #fff;
    stroke-width: 1.6671;
    stroke-miterlimit: 10;
  }
}

.layer_anatomy_svg__st8 {
  fill: #fff;
}
