.layer_anatomy_svg__st3 {
  fill: #050a30;
}

.layer_anatomy_svg__st4 {
  fill: #52617d;
}

.layer_anatomy_svg__st5 {
  fill: #303354;
  stroke: #fff;
  stroke-width: 1.6671;
  stroke-miterlimit: 10;
}

.layer_anatomy_svg__st6 {
  fill: none;
}

.layer_anatomy_svg__st7 {
  enable-background: new;
}

.layer_anatomy_svg__st8 {
  fill: #fff;
}

.layer_anatomy_svg__st10 {
  fill: none;
  stroke: #fff;
  stroke-width: 1.6671;
  stroke-miterlimit: 10;
}

#layer_anatomy_svg__layers path {
  cursor: pointer;
  transition: fill 0.1s ease-in-out;
}
