@import '../../assets/styles/config/_colors';

.layer-anatomy-svg {
  &__layer-background-top {
    fill: #050a30;
  }

  &__layer-background-left {
    fill: #52617d;
  }

  &__layer {
    cursor: pointer;

    &:hover {
      .layer-anatomy-svg__shape {
        transition: fill 0.2s ease-in-out;

        &.yellow {
          fill: map-get($accentPalette, "yellow");
        }

        &.orange {
          fill: map-get($accentPalette, "orange");
        }

        &.blue {
          fill: map-get($accentPalette, "blue");
        }

        &.lavender {
          fill: map-get($accentPalette, "lavender");
        }

        &.green {
          fill: map-get($accentPalette, "green");
        }

        &.grey {
          fill: map-get($accentPalette, "grey");
        }
      }
    }
  }

  &__shape {
    fill: #303354;
    stroke: #fff;
    stroke-width: 1.6671;
    stroke-miterlimit: 10;

    &--active {
      stroke: #fff;
      stroke-width: 1.6671;
      stroke-miterlimit: 10;

      &.yellow {
        fill: map-get($accentPalette, "yellow");
      }

      &.orange {
        fill: map-get($accentPalette, "orange");
      }

      &.blue {
        fill: map-get($accentPalette, "blue");
      }

      &.lavender {
        fill: map-get($accentPalette, "lavender");
      }

      &.green {
        fill: map-get($accentPalette, "green");
      }

      &.grey {
        fill: map-get($accentPalette, "grey");
      }
    }
  }

  &__name {
    fill: #fff;
  }

  &__outline {
    fill: none;
    stroke: #fff;
    stroke-width: 1.6671;
    stroke-miterlimit: 10;
  }
}
