.svg {
  max-width: 100%;
  overflow: hidden;

  text {
    fill: #fff;
    font-size: 12.9532;
  }

  path {
    opacity: 0;
    transition: opacity 0.2s ease;
    fill: var(--accent-color);
  }
}

.layer {
  cursor: pointer;
}

.layer.selected {
  cursor: default;
}

.layer:hover path {
  opacity: 0.5;
}

.layer.selected path {
  opacity: 1;
}
