
.mechanisms {
  background-color: #f9f9f9;
  padding: 1rem;
  padding-left: 4rem;
}

.mechanismsRow {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0.4rem;
}

.channelLabel {
  color: #0077b3;
  margin-right: 0.8rem;
  display: inline-block;
}
