@import '../../assets/styles/config/_queries';

.nav__basis {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  z-index: 1;
  @media @small {
    justify-content: center;
  }
}
