@import "config/_colors";
@import "config/_fonts";

html {
  font-size: 16px;
  font-family: 'SuisseIntl', Helvetica, Arial, sans-serif;
  color: #basePalette[white];
  background-color: #coolPalette[medium];
  // TODEL
  padding: 50px;
}

p {
  font-weight: 300;
}