@import "config/_colors";
@import "config/_fonts";

html {
  .font-default();
  color: #basePalette[white];
  background-color: #coolPalette[medium];
  // TODEL
  padding: 50px;
}

p {
  font-weight: 300;
}