@import 'config/_colors';
@import 'config/_fonts';

html {
  .font-default();
  color: #basePalette[white];
  background-color: #coolPalette[medium];
  // TODEL
  padding: 50px;
}

h3 {
  font-size: #fontSize[large];
  font-weight: 400;
}

p {
  font-weight: 300;
}

a {
  color: #basePalette[white];
  font-weight: 400;
}

section {
  margin-top: 80px;
}

section p {
  margin-top: 30px;
  margin-bottom: 5px;
}
